@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
* {
  outline: red solid 1px;
} */

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
